<h2>Налаштування</h2>
<a class="btn btn-primary" asp-action="Index">Ролі</a>
<a class="btn btn-primary" asp-action="UserList">Користувачі</a>
<a asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary">Поміняти пароль</a>
