@model MoviesWebAspNetMVC.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Зміна паролю</h1>

<form method="post" asp-controller="Account" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="CurrentPassword"></label><br />
        <input class="form-control" asp-for="CurrentPassword" />
        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label><br />
        <input class="form-control" asp-for="NewPassword" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label><br />
        <input class="form-control" asp-for="ConfirmPassword" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Змінити" />
    </div>
</form>